.css-10d30g3-MuiPaper-root-MuiDialog-paper {
    border-radius: 55px !important;
    background-color: transparent !important;
}

.sign-in{
  @apply drop-down-gradient text-white px-6 pb-8 pt-8 w-full md:w-max max-w-full sm:min-w-[548px] 
   sm:rounded-50 rounded-30 ;
}
.MuiDialogContent-root::-webkit-scrollbar {
    display: none;
}
/* .close{
  @apply !bg-black !p-4 w-6 h-6  ;
}
.close svg{
  font-size: 16px;
} */